<p>This is player <%= @player.id %></p>

    <p>First name:
    <br>
    <%= @player.firstname %>
    </p>

    <p>Last name:
    <br>
    <%= @player.lastname %>
    </p>
    
    <p>Team <%= @player.team.name %></p>